<ion-header>
  <ion-toolbar color="primary">
    <ion-title>About</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed">
  <div class="card">
    <div class="header">
      <div class="avatar">
        <img src="../../assets/photo123.jpg" alt="">
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="user-meta ion-text-center">
      <h3 class="username">Muhammad Farrel Adivia</h3>
      <h5 class="nim">00000025885</h5>
      <h6 class="kelas">IF 733 - <ion-chip>
        <ion-label>BL</ion-label>
      </ion-chip></h6>
    </div>
  </div>

</ion-content>
