<ion-app>
    <ion-menu side="start" menuId="m1">
        <ion-header>
            <ion-toolbar color="primary">
                <ion-title>UTS25885</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-menu-toggle menu="m1">
                <ion-item  lines="none" routerLink="/home">
                    <ion-icon name="home" slot="start"></ion-icon>
                    <ion-label>Home</ion-label>
                </ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle menu="m1">
                <ion-item  lines="none" routerLink="/admin">
                    <ion-icon name="book" slot="start"></ion-icon>
                    <ion-label>Admin</ion-label>
                </ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle menu="m1">
                <ion-item lines="none" routerLink="/about">
                    <ion-icon name="person-circle-sharp" slot="start"></ion-icon>
                    <ion-label>About</ion-label>
                </ion-item>
                </ion-menu-toggle>
            </ion-list>
        </ion-content>
        <ion-footer>
            <ion-list>
            <ion-menu-toggle menu="m1">
                <ion-item color="danger" routerLink="/home">
                    <ion-icon name="exit" slot="end"></ion-icon>
                    <ion-label>Exit</ion-label>
                </ion-item>
            </ion-menu-toggle>
            </ion-list>
        </ion-footer>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
</ion-app>
